.SwiftCart-header {
  background-color: #38240D;
  color: #C05800;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

.SwiftCart-header-left-section {
  width: 180px;
}

@media (max-width: 800px) {
  .SwiftCart-header-left-section {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
}

.header-link:hover {
  border: 1px solid #FDFBD4;
}

.SwiftCart-logo {
  width: 150px;
  margin-top: 5px;
}

.SwiftCart-mobile-logo {
  display: none;
}

@media (max-width: 575px) {
  .SwiftCart-logo {
    display: none;
  }

  .SwiftCart-mobile-logo {
    display: block;
    height: 35px;
    margin-top: 5px;
  }
}

.SwiftCart-header-middle-section {
  flex: 1;
  max-width: 850px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
}

.search-bar {
  flex: 1;
  background-color: #FDFBD4;
  width: 0;
  font-size: 16px;
  height: 38px;
  padding-left: 15px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
::placeholder {
  color: #38240D;
  opacity: 1; /* Firefox */
}

.search-button {
  background-color: #C05800;
  border: none;
  width: 45px;
  height: 40px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  flex-shrink: 0;
}

.search-icon {
  height: 22px;
  margin-left: 2px;
  margin-top: 3px;
}

.SwiftCart-header-right-section {
  width: 180px;
  flex-shrink: 0;
  display: flex;
  justify-content: end;
}

.orders-link {
  color: #FDFBD4;
}

.returns-text {
  display: block;
  font-size: 13px;
}

.orders-text {
  display: block;
  font-size: 15px;
  font-weight: 700;
}

.cart-link {
  color: #ec7d22;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 50px;
}

.cart-text {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
}

.cart-quantity {
  color: rgb(240, 136, 4);
  font-size: 16px;
  font-weight: 700;

  position: absolute;
  top: 4px;
  left: 22px;
  
  width: 26px;
  text-align: center;
}
.loading-div{
  width: 0;
  height: 5px;
  position: fixed;
  top: 60px;
  background-color: #ff9900;
}
.loading-div-transition{
  transition-property: width;
  transition-timing-function: ease-in;
  transition-duration: 1s;
}
